@model PortfolioApp.Models.ViewModels.LotteryStoreVm
@{
    ViewBag.Title = "Tilfældigt valg af land";
}
<link rel="stylesheet" href="~/Content/Css/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/Css/lottery.css" />
<div class="container">
    @if (!Model.HasPicked)
    {<div class="top-btn">
        @using (Html.BeginForm("PickRandomCountry", "Lottery", new { userId = Model.UserId }, FormMethod.Post, null))
        {


        <input type="submit" value="Tryk for at få et tilfældigt land" id="btnSave" name="cmd" class="btn btn-primary btn-lg" />

        }
    </div>
    }


    @if (Model.SelectedList != null)
    {
        if (Model.SelectedList.Any())
        {
            <div class="countries">
                @foreach (var item in Model.SelectedList)
                {
                    <div class="country">
                        <img src="@item.ImageUrl" />
                        @if (item.IsSelected)
                        {
                            <p>@item.OwnerName har @item.CountryName</p>
                        }
                    </div>
                }
            </div>
        }
    }
</div>

